/**
 * @name clearvision-hell-edition
 * @author ClearVision Team
 * @version 6.3.0
 * @description Highly customizable and beautiful theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.github.io
 * @invite 7pNUC9C
 * @BDEditor Clear Vision
*/

@import url('https://raw.githubusercontent.com/crazycrystals/Crysta-vision/main/main.css');

:root {
  --main-color: #2780E6;
  --hover-color: #1E63B3;
  --success-color: #43B581;
  --danger-color: #982929;
  --url-color: var(--main-color);
  --undefined: 0;
  --background-image: url('https://clearvision.github.io/images/sapphire.jpg');
  --background-shading: 100%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgb(0,0,0,0.6);
  --user-popout-image: url('https://clearvision.github.io/images/sapphire.jpg');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 3px;
  --user-modal-image: url('https://clearvision.github.io/images/sapphire.jpg');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 3px;
  --home-icon: url('https://clearvision.github.io/icons/discord.svg');
  --home-position: center;
  --home-size: 40px;
  --channel-unread: var(--main-color);
  --channel-color: rgb(255,255,255,0.3);
  --muted-color: rgb(255,255,255,0.1);
  --online-color: #43B581;
  --idle-color: #FAA61A;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;
  --main-font: hell;
  --code-font: Consolas;
  --channels-width: 220px;
  --members-width: 240px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
}

/* goofy message drop in css */
[data-list-item-id*="chat-messages_"]:not(:has(> [class*="contents"] > [class*="isSending"])) {
  animation: slide-up 0.6s;
}
/* Slide messages made by 406084422308331522/coolesding, and assisted for ghost messages to be removed by 406028027768733696/sunn_ie. */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*
// it was NOT laggy. */
button:not(.shiki-btn):hover, div[class*="reaction-"]:hover, div[class*="popout"]:hover, div[class*="clickable"]:hover, div[class*="listItem"]:hover, li[class*="containerDefault"]:hover, [class*="item"]:not([class*="tabBarItem"]):hover, [class*="channel-"]:hover {
  animation: 1s shake infinite;
}
 /* violent impluses on hover made by 919181792219639808/laptopcat. */


a[href="https://support.discord.com"], /* help button :skull: */
/* .recentsIcon-F3eO1o, (inbox button) I use this :sob: */
.nowPlayingColumn-1eCBCN, /* (active now sidebar) true who the hell uses this lmao */
.newChannel-3q3LPr,  /* (the "NEW" text thats next to channels) this is just obnoxious come on idgaf that a new channel was added I'll notice it and ill go there if people are fucking talking*/
/* div[aria-label*="Show User Profile"], (user profile button) slightly useful for viewing your own user profile, keeping :trol:*/
button[aria-label="Send a gift"] /* (send gift button) no, im not wasting my money to buy OTHERS nitro, I barely do so for myself.  */
{ 
  display: none;
}
/* Bullshit-be-gone, (actually called "hide a bunch of random things that 99% of people dont even use" but idc, made by 1122939347335913582/whoman0385, and modified to my liking. */


[class^="accountProfileCard"] [class*="fieldSpacer"] h3+div:has(button) * { color: transparent!important; }
[class^="accountProfileCard"] [class*="fieldSpacer"]:hover h3+div * { color: var(--header-primary)!important; }
[class^="accountProfileCard"] [class*="fieldSpacer"]:hover h3+div button * {
    color: var(--text-link)!important;
    -webkit-text-security: none; }
[class^="accountProfileCard"] [class*="fieldSpacer"]:hover span:has(button[aria-label^="Reveal"]) { -webkit-text-security: disc; }
[class^="accountProfileCard"] [class*="fieldSpacer"] span:has(button):before {
    color: var(--header-secondary);
    content: "[redacted]";
    font-size: initial; }
[class^="accountProfileCard"] [class*="fieldSpacer"]:hover span:before, [class^="userSettingsSecurity-"] [class*="description-"] { display: none; }
/* idiot protection (so I dont dox the fuck out of myself lol), made by 99914384989519872/pointy. */


/* oneko, looks kinda odd with 47px */
[class^="panels-3wFtMD"]::before {
    content: "";
    width: 47px;
    height: 47px;
    left: 185px;
    margin-top: -47px;
    position: absolute;
    background-image: url('https://cdn.discordapp.com/emojis/1091853954045972530.gif?size=48&name=oneko_zzz&quality=lossless');
}
/* "user panel but is not boring", made by 568175726617165824/zeylogger. */


/*Hiding Useless Discoverable Badge*/
.communityInfo-3YsNIn{
display: none;
}
/*Disabling Library & Nitro & Birthday Buttons on DM*/
.privateChannels-oVe7HL [href="/store"],[href="/library"],[href="/activities"] {
display: none;
}
/* Both made by 457064661582479361/phymos */


/* remove channel emojis, based. */
.channelEmoji-NJOZuV {
  display: none;
}

.channelName-3KPsGw {
  padding: 2px;
}

.channelEmoji-KaXu_c {
  display: none;
}
/* Made by 208696987082555393/ellio_t. */


@keyframes dvd-x {
    from {left: 0px;}
    to {left: calc(100% - 110px);}
}
@keyframes dvd-y {
    from {top: 0px;}
    to {top: calc(100% - 50px);}
}
@keyframes dvd-cx {
    from {--cx: 0deg;}
    to {--cx: 80deg;}
}
@keyframes dvd-cy {
    from {--cy: 0deg;}
    to {--cy: 140deg;}
}
.notAppAsidePanel-3yzkgB::before {
  background-image: url(https://cdn.discordapp.com/attachments/714888484565024844/1110313146347954256/dvd-logo-png-33.png);
  content: "";
  width: 110px;
  height: 50px;
  z-index: 999;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  filter: hue-rotate(calc(var(--cx) + var(--cy)));
  animation: dvd-x infinite linear 11s alternate-reverse,
             dvd-y infinite linear 7s alternate-reverse,
             dvd-cx infinite steps(2, jump-both) 22s,
             dvd-cy infinite steps(2, jump-both) 14s;
}
/* Most essential CSS in the world, made by 645877523481362432/hnml. */


/*

All CSS has been taken from the vencord 'css-snippets' channel, which states the following:

"
imports must be from a github domain, not third party domains (for privacy and security reasons) 
By posting in this channel you agree to license your css snippet under the https://creativecommons.org/share-your-work/public-domain/cc0/ license, which means anyone is allowed to use your snippet however they like with no attribution
dont post low effort snippets (single display: none for example)
Don't post off topic things. If you wanna discuss a specific snippet, please make a thread
"

*/
