/**
 * @name clearvision-hell-edition
 * @author ClearVision Team
 * @version 6.3.0
 * @description Highly customizable and beautiful theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.github.io
 * @invite 7pNUC9C
 * @BDEditor Clear Vision
*/

@import url(https://clearvision.github.io/ClearVision-v6/main.css);

:root {
  --main-color: #2780E6;
  --hover-color: #1E63B3;
  --success-color: #43B581;
  --danger-color: #982929;
  --url-color: var(--main-color);
  --undefined: 0;
  --background-image: url('https://raw.githubusercontent.com/crazycrystals/Crysta-vision/main/wallpaper.jpeg');
  --background-shading: 50%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgb(0,0,0,0.6);
  --user-popout-image: url('https://raw.githubusercontent.com/crazycrystals/Crysta-vision/main/wallpaper.jpeg');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 3px;
  --user-modal-image: url('https://raw.githubusercontent.com/crazycrystals/Crysta-vision/main/wallpaper.jpeg');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 3px;
  --home-icon: url('https://clearvision.github.io/icons/discord.svg');
  --home-position: center;
  --home-size: 40px;
  --channel-unread: var(--main-color);
  --channel-color: rgb(255,255,255,0.3);
  --muted-color: rgb(255,255,255,0.1);
  --online-color: #43B581;
  --idle-color: #FAA61A;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;
  --code-font: Consolas;
  --channels-width: 220px;
  --members-width: 240px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
}






/*

All CSS below has been taken from the vencord 'css-snippets' channel, which states the following:

"
imports must be from a github domain, not third party domains (for privacy and security reasons).

imports must specify the https protocol. do not omit it.

By posting in this channel you agree to license your css snippet under the https://creativecommons.org/share-your-work/public-domain/cc0/ license, which means anyone is allowed to use your snippet however they like with no attribution.

dont post low effort snippets (single display: none for example).
Don't post off topic things. If you wanna discuss a specific snippet, please make a thread
"

*/



/* Un-Simplify Bios in Simplified Profiles by 441619508801830912 */
[class^="descriptionClamp_"] {
    display: block!important;
}



/* turns all the messages in discord rgb cycling bc why not by 381930817661698051 , probably gonna remove */

/*turns all messages into rainbow coloring*/
.markup_d6076c {
  animation: colorRotate 6s linear 0s infinite;
}
@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}


/* no proper name, by 165098921071345666. Changes names that you cant read */
[class*=username_][style],
.mention[style],
[class*=membersGroup_] [style]
 { filter:contrast(.2) brightness(1.2) saturate(500%); }



/* transparent discord loading by 1177484931623026769 */
/*discord loading page*/
.container_e40c16.fixClipping_c7e9c6  {
  background: 0 0;
  backdrop-filter: blur(5px);
}


/* use old font for codeblocks, by 706152404072267788 */
:root {
    --font-code: "Consolas", "Andale Mono WT", "Andale Mono",
        "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
        "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Monaco",
        "Courier New", "Courier", "monospace";
}


/* hide signup advertisment bullshit by 1063532834805002271 */
[data-list-id="guildsnav"]>div>div>div:has(>div[style*="background: url(\"https://cdn.discordapp.com/assets/signups"]) {display:none}


/* remove annoying "NEW" badge for shop, by 736188952742199316 */
.textBadge__45d79{
  display: none;
}


/* bigger youtube embeds, by 150745989836308480 */
[class^="embedWrapper_"]:has(iframe),
[class^="embedWrapper_"]:has(img[src*="i.ytimg.com"]) {
  max-width: 550px !important;

  [class^="gridContainer_"] {
    max-width: 550px !important;
  }

  [class*="embedMedia_"] {
    max-width: 550px !important;
    max-height: unset !important;

    [class^="imageWrapper_"] {
      max-width: 550px !important;
      aspect-ratio: 16/9 !important;

      img {
        max-width: 550px !important;
        max-height: unset !important;
        aspect-ratio: 16/9 !important;
      }
    }

    & > [class^="embedVideo_"] {
      max-width: 550px !important;
      aspect-ratio: 16/9;
      padding: 0 !important;

      & > iframe {
        max-width: unset !important;
        max-height: unset !important;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}


/* Disable the super reaction ad pop up when u click on one, by 1038809506899042445
.reaction_fef95b[style*="background"] {
  pointer-events: none;
}
